/* Herança e especificidade */

body {
	color: red;
	border: 1px solid blue;
}

p {
	color: red !important;
}

p {
	color: blue;
}

/* Seletores mais especificos tem prioridade */

* { /*4*/
	border: 1px solid blue;
}

h2 { /*3*/
	border: 1px solid red;
}

h2.verde { /*2*/
	border: 1px solid green;
	color: green;
}

h2#amarelo { /*1*/
	border: 1px solid yellow;
	color: black;
}