/* Barra de navegação horizontal */

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 720px;
	float: left;
	background: #159cb0 url(../img/fundo-horizontal.png) repeat-x ;
}

ul li {
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: #FFF;
	background: url(../img/divisor.png) repeat-y left;
}

ul .primeiro a{
	background: none;
}

ul a:hover {
	color: #085662;
	background: #44cade;
}