/* Seletor universal */

* {
	border: solid 1px red;
}

/* Seletor de texto */

h1, h2, h3 {
	border: solid 1px black;
}

/* Seletor de classe */

.verde {
	border: solid 1px green;
}

p.laranja {
	border: solid 1px orange;
}

/* Seletor de ID */

#cabecalho {
	border: solid 1px blue;
}

/* Seletor de filho */

li>a {
	color: red;
	text-decoration: none;
}

/* Seletor de descendente */

p a {
	color: green;
}

/* Seletor de irmão adjacente */

h1+p { /*primeiro elemento p depois de h1*/
	color: purple;
	text-decoration-line: underline;
}

/* Seletor de irmão geral*/

h1~p {
	color: pink;
}